.wrapper {
  margin: 0 auto;
  margin-bottom: 400px;
  padding: 0 10px;
  max-width: 600px;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.7;
  font-family: 'Work Sans', sans-serif;

  &__bottom {
    position: relative;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
    border: none;
    opacity: 0.7;
    background-color: inherit;
    cursor: pointer;

    &.active {
      &::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid #f2e4e4;
        border-radius: 3px;
      }
    }
  }
}

.none {
  display: none !important;
}
.title {
  margin: 0;
  font-size: 140px;
  font-weight: 200;
  text-align: center;
  color: #eee5e4;
}

.todo {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 380px;
  border: 1px solid #bdbdbd;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    border: 1px solid #bdbdbd;
    background-color: #f1f1f1;
    z-index: -10;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 9px;
    border: 1px solid #b6b6b6;
    background-color: #efefef;
    z-index: -11;
    box-shadow: 0 0 25px 15px rgba(58, 58, 58, 0.16);
  }

  &__input {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 2px solid #bdbdbd;
  }

  &__out {
    border: none;
    font-size: 20px;
    width: 95%;
    font-size: 18px;
  }

  &__add {
    width: 28px;
    font-size: 30px;
    margin-right: 30px;
  }

  &_wrapper {
    flex-grow: 1;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 18px;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d4d4d4;
      border: 2px solid #fff;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__bottom {
    border-top: 2px solid #bdbdbd;
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &_wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &__items_left {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    opacity: 0.7;
  }
}

@media (max-width: 650px) {
  .todo__text {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .todo__text {
    font-size: 24px;
  }
  .todo__delete {
    margin-right: 10px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 110px;
  }
  .todo {
    &__text {
      font-size: 20px;
    }

    &__out {
      font-size: 18px;
    }

    &__delete {
      font-size: 30px;
      margin-right: 10px;
    }
    &__bottom {
      font-size: 12px;
    }
    &_bottom {
      font-size: 12px;
    }

    &__bottom {
      flex-direction: column;
      align-items: center;
    }
  }
}
